<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Результат регистрации</title>
    <link rel="stylesheet" href="/styles/css/main.css" type="text/css">

</head>
<body>
<main >
    <section class="ant-section__ant012_welcome ">

        <div  class="banner-parallax" style="background-image: url(/styles/img/img.jpg);">

            <div  class="overlay-colored color-bg-heading opacity-60"></div>

            <div class="slide-content">
                <div class="container">

                        <div class="col-md-12">
                            <div  class="banner-center-box text-white" >
                                <h1 >Регистрация прошла успешно</h1>
                                <div class="description">
                                    <h3>Теперь вся мощь SmartBota в ваших руках!</h3>
                                </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>


    </section>
</main>
</body>
</html>